.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html, body {
    overflow-x: hidden;
  }
  
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
::-webkit-scrollbar{
    display: none;
}
  *{margin: 0;padding: 0;}
  .width{max-width: 80%;margin: auto;}
.flex{display: flex;}
.btn{
    background-color: orange;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 60px;
    border: none;
    color: white;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.navImg{
    align-items: center;
    gap: 11px;
}
.navImg h2{
    font-size: 32px;
    font-weight: 700;
}
.navMain{
    gap: 32px;
}
.navMain li{
    list-style: none;
}
.navMain li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.bancontent h1{
    font-size: 56px;
    font-weight: 700;
}
.bannner{
    align-items: center;
    justify-content: space-between;
}
.bannner p{
    font-size: 20px;
    font-weight: 500;
    margin: 24px auto;
}
.ebtn{
    background-color: black;
}
.slider{
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.slidercard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.slidercard div{
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 19.5px;
    padding: 53.5px 40.5px;
}
.slidercard img{
    height: 126px;
}
.comp{padding-bottom: 34px;}
.slidercard div p{
    color: #808080;
}
.slidercard div h3{
    font-size: 24.5px;
    font-weight: 700;
    padding: 32px 0px;
    color: #202020;
}
#sclider{
    font-size: 46px;
    font-weight: 700;
    padding: 60px 0px 80px;
}
.fstSl{
    background: linear-gradient(180deg, rgba(220,241,251,1) 10%, rgba(255,255,255,1) 100%);
}
.secsl{
    background: linear-gradient(180deg, #fbf1db 0%, rgba(249,249,249,1) 37%);
}
.trdsl{
    background: linear-gradient(180deg, #eadefa 0%, rgba(249,249,249,1) 37%);
}
.slidericon{
    gap: 10px;
    padding: 60px 0px 80px;
}
.slidericon  >div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spaP{
    font-size: 15.34px;
    font-weight: 500;
    background-color: rgba(60, 216, 232, 1);
    width: 138px;
    border-radius:48px ;
    padding: 15px 19px;
    position: relative;
    margin-top: -5%;
}
.unicbg{
   
    background: linear-gradient(0deg, rgba(249,222,173,1) 0%, rgba(255,255,255,1) 100%);
}
.galary{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bg.png);
}
.glytext{
    font-size: 46px;
    font-weight: 700;
}
.cardT{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19.17px;
}
.cardT p{
    color: white;
}
.comcard{
    margin-top: -10%;
    font-size: 15.3px;
    padding: 10px 19px;
    width: 139px;
}
.cardT div img{
    border-radius: 16px 16px 0 0;
}
.cardT div{
    border-radius: 16px;
    background-color: white;
}
.padWidth{
    padding: 0px 38px;
}
.padWidth h5{
    padding: 19px 0px 29px;
}
.cardcont{
    gap: 18.73px;
    margin: 80px 0;
}
.fstcarimg {
    border-radius: 16px;
    background-color: white;
}
.fstcarimg h3{
    padding: 30px 0 40px;
    font-size: 24px ;
    font-weight: 700;
}
.fstcarimg img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.fstcarimg p:last-child{
    font-size: 15.34px;
    color: rgba(102, 102, 102, 1);
    line-height: 28px;
    padding-bottom: 34px;
}
#lastbtns{
    background-color: black;
    margin-bottom: 60px;
}
.logo{
    align-items: ;
    gap: 10.7px;
}
.logo img{
    width: 78px;
}
.logo h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 39px;
}
.footer{
    color: white;
    padding: 123px 0 174px;
}
.footer p{
    font-size: 20px;
    font-weight: 500;
    max-width: 400px;
    padding-top: 30px;
}
.ditals, .footlogo{
    width: 50%;
}
.list li{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.list h3 ,.contuct h3{
    margin-right: 143px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 32px;
}
.contuct div img {
    margin-right: 5px;
}
.bar{
    display: none;
}
/* rasposve */

@media only screen and (min-width: 300px) and (max-width: 700px) {
    .marq{
        display: none;
    }
    .navImg {
        margin-left: 16px;
    }
    .top{
        border-bottom: 1px solid orange;
    }
    .hidden{
        display:none;
    }
    .bar{
        display: block;
    }
    .bannner{
        flex-direction: column-reverse;
    }
    .banimg{
        margin: 0 25px;
    }
    .banimg img{
        width: calc(412px - 50px);
    }
    .bancontent h1{
        font-size: 32px;
        text-align: center;
    }
    .bancontent p{
        font-size: 14px;
        text-align: center;
    }
    .bancontent {
        text-align: center;
        margin: auto;
    }
    .bancontent button{
        padding: 10px 24px;
        font-size: 16px;
    }
    #sclider{
        font-size: 26px;
        padding: 40px 0 20px;
    }
    .slidercard {
        grid-template-columns: repeat(1,1fr);
    }
    .slidercard{
        width: calc(412px - 32px);
    }
    .slidericon {
        display: none;
    }
    .glytext h1{
        font-size: 24px;
        padding: 30px 0 20px;
    }
    .cardcont{
        margin: 0;
    }
    .cardT {
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
    }
    .cardT p ,.padWidth h5 {
        margin-left: 22.5px;
    }
    .cardT div{
        width: calc(412px - 16px);
        width:184px;
        margin: auto;
        padding-right: 0px;
    }
    .cardT div img{
        width: 100%;
    }
    .galary{
        width: 100%;
    }
    
  p.spaP.comcard.raleway-normal {
    font-size: 9px;
}
.comcard {
    width: 80px;
}

.cardcont {
    margin: 0px auto !important;
    margin-left: 16px !important;
}
.padWidth {
    padding: 0px;
}
.padWidth h5 {
    font-size: 9px;
    width: 118px;
}

.width {
    max-width: 100%;
}
#lastbtns {
    margin-bottom: 60px;
    font-size: 16px;
    padding: 7px 37px;
    margin: 20px 0 40px;}
.footer ,.ditals{
        flex-direction: column;
        margin-left: 16px;
        width: 100%;
    }
    .logo h1 {
        font-size: 35px;
    }
    .footer p {
        font-size: 16px;
        width: 178%;
    }
    .ditals{
        margin: 0px;
    }
    .footer {
        padding: 60px 0 60px;
    }
    .bannner p {
        margin: 24px 18px;
    }
    .bancontent h1 {
        padding-top: 20px;
    }


}